@media(max-width:1024px){
    .service_card{
        padding:27px;
    }

    .content_description_block{
        padding:30px;
    }

    .news_card_box_img{
        height:200px;
    }

    .milk_block_content{
        display:block;
    }

    .milk_img{
        width: 100%;
        padding-bottom:20px;
    }

    .milk_txt_block{
        text-align: justify;
    }

}

@media(max-width:1200px){
    .intro__title {
        min-height:120px;
        font-size: 96px;
    }

    .news_row{
        grid-column-gap: 1%;
    }

    .way_card{
        display: block;
     }

    .way_card_box_img{
        width:100%;
        margin-top:30px;
     }

     .way_card_box_img img {
        width:100%;
     }

     .content_description_block_OP{
        display: block;
     }

     .box_img_description_muvir{
        width:100%;
    }

    .message_new{
        padding-top:20px;
    }

    .fun_row{
        display: block;
    }

    .vertical_align{
        display: block;
    }

    .txt_first{
        margin-bottom: 40px;
    }

    .login_block{
        margin-top:-100px;
    }
    
}

@media(max-width:900px){
    .container_news{
        padding:60px 80px 30px 80px;
        margin-top:-300px;
    }

    .name_title{
        font-size: 30px;
        padding-bottom:200px;
    }

    .news_row{
        display: block;
    }

    .news_card_box_img{
        height:400px;
    }

    .content_description_block{
        display: block;
        padding-bottom:50px;
    }

    .col_descr_video_content{
        width:100%;
        padding-right: 0;
    }

    .position_intro_content{
        padding-top:80px;
        min-height:120px;
    }

    .login_block{
        margin-top:-200px;
    }
    
}

@media(max-width:840px){
    .way_block_content{
        display: block;
     }

     .way_card{
        margin-top:40px;
     }
}


@media(max-width:550px){
    .comment_card{
        display: block;
     }

     .ul_footer{
        display:block;
     }

     .ul_footer li{
        padding-bottom:20px;
     }

     .footer_content img{
        width:200px;
     }

     .num{
        padding-top:20px;
        font-size: 25px;
     }

     .txt58{
        font-size: 25px;
    }

    .intro__title {
        font-size: 50px;
    }

    .intro__title_substr{
        font-size: 17px;
    }

    .comment_card_txt{
        text-align: justify;
    }

    .container_news{
        padding:60px 40px 30px 40px;
    }

    .article_box_img{
        height:300px;
    }

    .name_title{
        font-size: 30px;
    }

     .intro_house, .intro_excursion, .intro_fun, .intro_news{
        min-height:60vh;
     }
    
    
}

@media(max-width:1100px){
    .footer_content{
        display:block;
        text-align:center;
    }

    .ul_footer{
        justify-content: space-around;
     }

     .ul_footer li{
        margin:0;
     }

     .social_net{
        margin:20px 0;
        display:block;
    }
}

@media(max-width:725px){
    .fun_card{
        display: block;
    }

    .fun_card_box_img{
        width:100%;
    }

    .wedding_img_block{
        display: block;
    }
    
}